//General Classes

a
	color orange
	&:hover
		color orange-light

.column, .columns
	min-height 1px

//End General Classes

// Features

.featureImage
	max-width 80%

.featureImage-desk
	display none

.featureText-left, .featureText-right
	padding-top 1.5em

.mainFeature-data
	display none
	
// End Features

// Home

.home
	background-image url(../img/home/fondo.png)

.homeFeature
	display none
	
.homeMain-text
	max-width 80%
	padding-top 5%
	h1
		color grey-titles
		font-weight 300
	h4
		color grey-dark
	
.homePush-icon
	font-size 3em
	text-decoration none
	display block
	-webkit-transform rotate(90deg)
	
.homeAnunciate
	background-image url(../img/home/anunciate.png)
	padding-bottom 30%
	h2
		color white

.homeFeature-push
	img
		width 80%
		margin-top -30%

.homePagina
	background-image url(../img/home/pagina-fondo.png)
	padding-bottom 30%
	h2
		color white
		
.homeEmailing-figure
	img
		max-width 60%
		
.buttonHome
	background orange
	border 2px solid orange
	color white
	display inline-block
	margin 2em 0
	padding .8em 1em
	text-align center
	text-decoration none
	transition .3s
	width 100%
	&:hover
		background white
		border 2px solid orange
		color orange

		
// End Home

// Landing Publicidad

.publicidad
	background-image url(../img/publicidad/publicidad-background.png)
	color white
	h1, h3
		color white

.publicidadFeatureBackground-desk
	display none

.publicidadFeatureBackground-mobile
	h2
		font-size 2.6em
		margin-left 1rem

.publicidadFeature-banner
	padding 0 1em

// End Landing Publicidad

// Landing Pagina-promocional

.paginaPromocional
	background-image url(../img/pagina-promocional/textura.jpg)
	color white
	h1, h3
		color white

#paginaPromocionalMain-figure
	text-align center

.paginaPromocionalCaptation-desk, .paginaPromocionalPlanes-desk
	display none

.paginaPromocionalPlanes-mobile
	h2, p
		padding 1em

// End Landing Pagina-promocional

// Landing Emailing

.emailing
	color white
	h1, h3
		color white

.emailingMensaje-mobile
	h2
		color grey-dark
		font-size 2.4em
		max-width 60%
		position absolute
		right .5em
		text-align right
		top .5em
		
#emailingMain-figure-tablet
	display none

//End Landing Emailing

//Landing Redes Sociales

.redes
	color white
	h1, h3
		color white

#redesMain-figure-tablet
	display none

.redesComunicate-desk
	display none

.redesComunicate-mobile
	figure
		text-align center

// End Landing Redes Sociales

// Landing Promo

.promo
	background-image url(../img/promo/fondo.png)
	color white
	h1, h3
		color white

.promoEmailing-desk
	display none

// End Landing Promo 

// Comunidad Home

.comunidadHome
	background-image url(../img/comunidad/comunidad-fondo.png)
	padding-top 5em
	
.comunidadHome-text
	padding-bottom 2em
	h1
		color grey-dark
		font-weight 300
	h2
		color black
		font-size 2em
		font-weight 300

	hgroup
		padding 1em
		color black
		text-align center

.comunidadHome-features
	h3
		color grey-titles
		font-family "Roboto", Arial, sans-serif
		font-size 2.5em
		font-style normal
		font-weight 100
		margin-bottom 1rem
		margin-top 0.2rem
		text-rendering optimizeLegibility

.comunidadHome-colabora
	figure
		margin-bottom 1em

.comunidadHome-participa
	img
		width 80%

// End Comunidad Home

// Comunidad Apuntate

.comunidadApuntate
	background-image url(../img/comunidad/comunidad-fondo.png)
	padding 2em 0	.comunidadApuntate-text
		background rgba(255, 255, 255, 0.56)
		max-width 70%
		padding 2em 3em
		text-align center

.comunidadApuntate-pushMain-content
	p
		display inline-block
	.icon-comunidadApuntate
		background orange
		border-radius 50%
		padding .4em
		color white
		font-size 2em
		margin-right .5em
		margin-bottom .5em
		margin-top .5em
	.comunidadApuntate-iconText
		font-weight bold
		

	
.comunidadApuntate-form
	background rgba(255,255,255,0.56)
	border-radius .3em
	.comunidadApuntate-formContainer
		font-size .8em !important
		padding 3em
		margin-top 2em
	
.comunidadApuntate-button
	cursor pointer
	color grey-dark
	height 100%
	p
		margin 0
		font-family "Roboto", Arial, sans-serif
		font-size 1.5em
		font-style normal
		line-height 1
		padding 1em
		
.comunidadApuntate-button-inactive
	background rgba(255, 255, 255, 0.20)
	color white
	p
		font-weight 100


.comunidadApuntate-text
	background rgba(255, 255, 255, 0.3)
	padding 5em 1em 1.5em 1em
	text-align center
	h1, h2
		color grey-dark
		font-weight 300
	p
		text-align left
		margin-top 1em

.comunidadFeature-selection
	span
		&:hover
			font-size .8em

.iconComunidad-features
	font-size 3em
	
.comunidadApuntate-featuresItem
	box-shadow 0px 3px 3px grey

.comunidadApuntate-featuresItem-content
	background white
	padding 1em

.comunidadApuntate-featuresItem-title
	margin-bottom .5em		
	figure
		padding-right .8em
		img
			margin-bottom .5em
			width 30px
	figure, h5
		display inline-block
	h5
		color #666
		font-family "Roboto", Arial, sans-serif
		font-weight 100
		text-rendering optimizeLegibility

.comunidadApuntate-formSecond
	padding-left 1em
	padding-bottom 1em
	p, label, input
		margin 0
		font-size .9em
		
		
// End Comunidad Apuntate

// Pricing

.pricingMobile
	padding 1em
	cursor pointer
	
.pricingClose
	background orange
	padding 1em 2em
	h4, span, p
		color white !important
		line-height 40px
		margin-bottom 0
	h4
		font-family "Roboto", Arial, sans-serif
		font-size 1.5em
		font-style normal
		font-weight 300
		margin 0
		text-rendering optimizeLegibility
		
.pricingDestacado
	background grey-dark
	padding-top 1em
	p
		color white
		font-size .8em
		line-height initial
		span
			font-weight bold

.priceIcon
	font-size 2em
	margin-top .5em
	margin-left .5em
	transform rotate(90deg)
	-webkit-transform rotate(90deg)
	
.pricingPrice-small
	font-size .8em
		
.pricingPrice-big
	font-size 2.2em
	
.pricingOpen
	display none
	background grey-legal
	ul
		list-style none
		li, p
			padding-top 1em
			color grey
			span
				padding-right .5em
				color green
				
.pricingOpen-description
	padding 1em
	background white
	border 1px solid grey-legal

.pricingCuota-mobile
	color grey-light
	font-size .8em
	background white
	padding .5em
	margin 0


// End Pricing

// Tratamiento de datos Personales
	
.datosPersonales-comunicaciones, .datosPersonales-lopd, .form
	label, input, p, span
		font-size .8em
		margin-top 1em
		margin-bottom 1em

.datosPersonales-lopdLink
	color orange
	cursor pointer
	text-decoration underline
	&:hover
		color orange-light
		
.datosPersonales-lopdContent
	background grey-legal
	color grey
	display none
	padding 1em

.datosPersonales-lopdText	
	margin-top 1.5em
	
	
// End Tratamiento de datos Personales


// Legal Pages (cookies, aviso legal)

.legalHeader
	background grey-dark
	h1
		color white
		margin-top 1em

// End Legal Pages (cookies, aviso legal)

// Forms

		
.Inputs, .prefix, .postfix, select
	border 1px solid grey-light
	font-size 0.875rem
	height 2.3125rem
	line-height 2.3125rem
	margin .5em 0
	padding .5em 1em
	width 100%
	&:focus
		border 1px solid orange
		box-shadow 0 0 5px orange
		outline none

.prefix, .postfix
	background grey-legal
	border-right transparent
	display inline-block
	overflow hidden
	padding-bottom 0
	padding-top 0
	position relative
	text-align center
	z-index 2

.formNegocio-button
	border-bottom 1px solid grey-light
	margin-top .5em
	padding-bottom .5em
	padding .5em
	cursor pointer
	transition .3s
	&:hover
		background grey-legal

.formNegocio-button-icon, .formNegocio-button-text
	display inline
	
.formNegocio-button-text
	font-size 0.875rem
			
.formNegocio-button-icon
	vertical-align middle
	margin-right .5em
	.icon-cancel-circle
		-webkit-transform rotate(45deg)
		color orange


label.inline
	margin-bottom 0

.formIcon
	color grey
	font-size 1.3em

.formNegocio-deplegable
	display none

.formNegocio-deplegable-container
	background grey-legal
	padding 1em
	label
		font-size .8em

.formNegocio
	cursor pointer
	p
		font-size .9em

.InputsTextarea
	height 39px

.formRadio
	margin-top 1em
	margin-left 1em
	label, input, p
		font-size .9em
		margin 0
		
.formHide
	font-size .8em
	margin 1.2em !important

// Special Form Classes

#InputSurname
	border-left transparent

// End Forms

// Modal Classes

.ModalFormInput
	border solid 1px grey-2
	border-radius .3em
	margin .5em 0
	padding .5em 1em
	width 100%

.ModalFormTextarea
	vertical-align middle

// End Modal Classes


// Menu Responsive
.logo
	display none
	a
		text-decoration none

.NavMobile
	background white

.menu
	background grey-dark
	border-right 1px solid grey
	height 100%
	left -285px
	position fixed
	z-index 4
	width 285px	
	ul
		list-style none
		margin 0
		padding 0
		li
			border-top 1px solid grey-light
			font-size .8em
			line-height 45px
			a
				color #222222
				display block
				background -moz-linear-gradient(white, grey-ultralight)
				background -webkit-linear-gradient(white, grey-ultralight)
				padding .5em 2em
				text-decoration none
				text-transform uppercase
				&:hover					
					color orange

.Menu-icons
	font-size 1.5em
	padding-right 1em


.active	
	background linear-gradient(orange-light, orange) !important
	background -webkit-linear-gradient(orange-light, orange) !important
	background -moz-linear-gradient(orange-light, orange)
	color white !important
	font-weight bold

#icon-close
	cursor pointer
	display inline-block
	padding .9em 0 1em 1em
	img
		width 1.4em

#Menu-logo-mobile
	display inline-block
	float right
	padding 1em
	img
		width 9em

.logo-mobile
	display inline-block


#icon-menu
	cursor pointer
	display inline-block
	margin .9em 1em
	img
		width 1.8em

#Logo-mobile
	display inline-block
	float right
	padding 1em 1em
	img
		width 9em

.menu-responsive
	background white
	position fixed
	width 100%
	z-index 10
	box-shadow 7px 2px 10px #888888

// End Menu Responsive

// Social Footer

.footerNewsletter
	form
		margin 0
	
.footerNewsletter-aviso
	cursor pointer
	&:hover
		color white
	
.footerNewsletter-aviso-content
	display none
	margin-bottom 1em
	p
		padding-bottom .5em
		margin-bottom .5em
		border-bottom 1px solid grey
		color grey

.footerNewsletter-form
	border none
	color white
	font-size 0.875rem
	height 2.3125rem
	line-height 2.3125rem
	margin .5em 0
	padding .5em 1em
	width 100%
	background orange
	display inline-block
	overflow hidden
	padding-bottom 0
	padding-top 0
	position relative
	text-align center
	z-index 2
	transition .3s
	&:hover
		background orange-light
	
.socialFooter
	background grey-dark-footer
	color rgba(255, 255, 255, 0.66)
	position realtive
	h3, h5
		color white
	img
		width 60px
		min-width 60px

.footerSocial-testimonial
	padding 1em
	margin-bottom 3em
	margin-top 2em
	border 1px solid grey-legal
	border-radius .2em

#comillas
	font-family Georgia, serif
	font-size 5em
	position absolute
	top -33px
	color rgba(255, 255, 255, 0.15)
	
.socialFooter-Author
	margin-top -20px
	h5, p
		font-size 90%
		margin-bottom 0
	a
		color white
		font-size 80%
		text-decoration none

.footerSocial-twitter
	margin-top 2em
		
	
// End Social Footer

// Footer

footer
	background grey-dark
	color grey-light
	
.footerSuscription
	h5
		color grey-light

.footerSocial-icons
	color grey-ultralight
	display inline-block
	font-size 2.5em
	padding-right .3em
	text-decoration none
	transition .3s
	&:last-child
		padding-right 0

.footerMenu
	list-style none
	margin none
	li
		padding .2em
		a
			color grey-light
			text-decoration none
			padding-right 1em
			transition .3s
			&:hover
				color white
				text-decoration underline
				
.footerLogo
	margin-top 1em
	margin-bottom .5em
	a
		text-decoration none

.footerLogo-icon
	max-width 35px
	margin-right .8em
	transition .3s
	&:hover
		margin-bottom .5em
		margin-top -.5em
	
.footerLogo-text
	max-width 225px
	
.footerCopyright
	color grey
	a
		color grey
		text-decoration none
		transition .3s
		&:hover
			color grey-light

.anchoreBottom
	bottom .5em
	color black
	display none
	font-size 3em
	opacity .2
	position fixed
	right .5em
	text-decoration none
	transition .3s
	&:hover
		color black
		opacity .6

// Crosseling

.crosselingLink
	text-decoration none
	p
		color grey-dark
		&:hover
			color grey

.crosseling
	background grey-legal
	
.crosselingItem-content
	background #fff
	padding 1em
	border 1px solid grey-ultralight

.crosselingPush
	background grey-dark
	color white
	font-size .8em
	padding 1em	
	text-align center
	span
		font-size 2em
		font-weight bold
		
.crosselingArrow
	display none

.iconCrosseling
	color orange
	padding-right .5em
	font-size 1.5em
	vertical-align middle

// End Crosseling

// Test field // -----------------------------------------------------------------------------------------
.rrrr
	background rgba(255, 255, 255, 0.66)
	


// cookies

#overbox3 {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 11;
    display: block;
}
#infobox3 {
    margin: auto;
    position: relative;
    top: 0px;
    height: 58px;
    width: 100%;
    text-align:center;
    background-color: #eeeeee;
}
#infobox3 p {
    line-height:58px;
    font-size:12px;
    text-align:center;
}
#infobox3 p a {
    margin-right:5px;
    text-decoration: underline;
}