@media only screen and (min-width: 40.063em)
// 641px
	
	// Utilities
	.u-buttonStrong, .u-buttonLight-white
		width auto

	// End Utilities

	// Features

	.featureImage-desk
		display inherit

	.featureImage-mobile
		display none
		
	.mainFeature-data
		display block
		span
			font-size 7em
	
	.mainFeature
		a
			display none

	// End Features
		
	// Home
	
		
	.homeMain-text
		max-width 60%
				
	.homeEmailing-text
		margin-top 5%
		
	.buttonHome-link
		background white
		border 2px solid orange
		color orange
		display inline-block
		margin 1em 0
		padding 1em
		text-align center
		text-decoration none
		transition .3s
		width 15em
		&:hover
			background orange
			border 2px solid orange
			color white
	.buttonHome
		width 15em
	
	.homeFeature-push
		img
			width 70%
	
	// End Home
		
	// Landing Publicidad

	.publicidadFeatureBackground-desk
		background-image url(../img/publicidad/decide-desktop.png)
		display inherit
		margin-bottom 2em
		margin-top 2em
		overflow hidden
		h2
			font-size 3.5em
			color grey-dark
		
	.publicidadFeatureBackground-mobile
		display none
		

	.publicidadFeature-banner
		padding 0 4.5em
		
	// End Landing Publicidad
	
	// Landing Pagina-promocional
		
	.paginaPromocional-mainImg, .paginaPromocionalPlanes-mobile
		display none

	.paginaPromocionalPlanes-desk
		background-image url(../img/pagina-promocional/mantenimiento-desktop.png)
		display inherit

	#paginaPromocionalMain-figure
		img
			max-width 60%

	// End Landing Pagina-promocional
		
	// Landing Emailing

	#emailingMain-figure-mobile
		display none
		
	#emailingMain-figure-tablet
		display inherit
		
	.emailingMensaje-mobile
		display none

	// End Landing Emailing
		
	// Landing Redes
		
	#redesMain-figure-mobile
		display none

	#redesMain-figure-tablet
		display inherit
		
	// End Landing Redes
		
	// Comunidad Home
		
	.comunidadHome-promocionateText
		margin-top 15%

	// End Comunidad Home
		
	// Comunidad Apuntate
	.comunidadApuntate
		background-image url(../img/comunidad/fondo.png)
		padding-top 5em	

	.comunidadApuntate-pushMain
		display inherit
		
	.comunidadApuntate-pushMain-content
		background orange
		border-radius 50%
		height 170px
		margin 1em auto
		padding 2em 1em
		width 170px
		.icon-comunidadApuntate	
			display block
			font-size 3em
			margin 0
			padding 0
		.comunidadApuntate-iconText
			color white
			display block
			font-size .8em
			font-weight normal
			line-height 1.2em
			margin-top 2em
	
	.comunidadApuntate-text
		background rgba(255, 255, 255, 0.56)
		max-width 90%
		padding 1em 3em
		text-align center
		p
			text-align center
		
	.comunidadApuntate-form		
		max-width 90%
		
	.comunidadApuntate-button
		p
			font-size 1.5em
		
	// End Comunidad Apuntate
		
	// Pricing
	
	.u-buttonStrong-small
		width 100%
		
	#pricingClose1, #pricingClose2, #pricingClose3, #pricingOpen1, #pricingOpen2, #pricingOpen3
		display initial
	
	.pricingMobile
		cursor default
	
	.pricingClose
		background grey-legal
		border 1px solid grey-legal
		h4, span, p
			color black !important
			
	.pricingClose-emailing
		background grey-dark
		padding 1em 2em
		h4, span, p
			color white !important
			line-height 40px
			margin-bottom 0
		h4
			font-family "Roboto", Arial, sans-serif
			font-size 1.5em
			font-style normal
			font-weight 300
			margin 0
			text-rendering optimizeLegibility
	
	.pricingDestacado
		background grey-legal
		p
			color grey-dark
	
			
	.priceIcon
		display none
	
	// End Pricing

	// Menu
		
	#icon-close
		padding 1.1em
		img
			width 2em

	#Menu-logo-mobile
		padding 1.4em
		img
			width 9em
		
	#icon-menu
		margin 1.2em
		img
			width 2.5em

	#Logo-mobile
		padding 1.2em
		img
			width 11em
	
	// End Menu
		
	// Crosseling
	
	.crosseling
		article
			padding 2em
			
	// End Crosseling

		
	// Footer		
	
	// End Footer
	
@media only screen and (min-width: 64.063em)
// 1025px
	
	// Utilities
	
	.u-buttonLight
		width auto

	.u-condiciones-mobile
		display none	

	.u-condiciones-desk
		display inline-block
		
	.u-buttonMain-desk
		background orange
		border 2px solid orange
		color white
		display inline-block
		margin 1em
		padding .8em 2em
		text-align center
		text-decoration none
		transition .3s
		&:hover
			background white
			border 2px solid orange
			color orange

	.u-buttonMain-mobile
		display none

	.u-mainText
		background rgba(0,0,0,0.5)
		margin 1em 1em 0 1em
	
	.u-menuSeparation-desk
		margin-top 65px
	
	.u-menuSeparation-mobile
		margin-top 0

	// End Utilities
		
	// Features
		
	.featureText-left, .featureText-right
		padding-top 0
		margin-top 10%
	
	.featureText-left-big, .featureText-right-big
		padding-top 0
		margin-top 25%

	.featureText-left, .featureText-left, .featureText-left-big, .featureText-left-big
		margin-left 20%
	
	.featureText-right, .featureText-right, .featureText-right-big, .featureText-right-big
		margin-right 20%
		
	.featureTitle-light
		font-size 2em

	// End Features
		
	// Home
	
	.homeCTA
		p
			max-width 70%
			margin 1em auto

	.home
		background-image url(../img/home/fondo-desktop.png)
		text-align left
	
	.homeMain-text
		text-align left
		max-width 47%
		margin-left 16%
		padding-top 7%
	
	.homeMain-image
		display block
		
	.homeFeature
		display inherit


	.homeMain-push
		a
			display none
		
	.homeFeatures-container
		max-width 50%
	
	
	// End Home

	// Landing Publicidad
		
	.publicidad
		padding-top 1em

	// End Landing Publicidad
		
	// Landing Pagina-promocional

	.paginaPromocionalCaptation-desk
		display inherit
		position relative
		img
			padding-left 2em
	
	.paginaPromocionalCaptation-mobile
		display none

	.pagianPromocional-textBottom
		bottom 4%
		left 33%
		max-width 33%
		position absolute

	#paginaPromocionalMain-figure
		img
			margin-top 3em
			max-width 100%

	.pagianPromocional-textTop
		left 33%
		max-width 33%
		position absolute
		top 17%

	#lineArrow
		position absolute
		bottom 42%
		left 23%
		width 51%

	#line
		border-bottom 2px dashed

	#arrow
		border-bottom .5em solid transparent
		border-left 1em solid
		border-top .5em solid transparent
		float right
		height 0
		margin-right -7px
		margin-top -9px
		width 0
		
	// End Landing Pagina-promocional 
		
	// Landing Emailing
		
	.emailing
		background-image url(../img/emailing/fondo-desk.png)
	
	#emailingMain-figure-tablet
		display none
	
	#u-condicionesEmailing
		color orange
		:hover
			color orange-light
			
	.emailing-featureText-left
		padding-top 0
		margin-top 20%
		margin-left 20%

	// End Landing Emailing
		
	// Landing Redes
		
	.redes
		background-image url(../img/redes/fondo-desktop.png)
	
	#redesMain-figure-tablet
		display none
	
	.redesComunicate-mobile
		display none
	
	.redesComunicate-desk
		display inherit
		position relative

	.redesComunicate-iphone-desk
		text-align center
		img
			padding-left 14em
			padding-top 2em

	.redesComunicate-text-desk
		left 33%
		max-width 33%
		position absolute
		top 24%

	// End Landing Redes
		
	// Landing Promo
		
	.promoEmailing-desk
		background-image url(../img/emailing/fondo-desk.png)
		display inherit

	// End Landing Promo
		
	 // Comunidad		
		
	.comunidadHome-amplia
		margin-top 0
	
	.comunidadHome-colabora
		padding 2em 10%
		figure
			display none
		
	.comunidadHome-colabora-up, .comunidadHome-colabora-dawn
		height 300px

	.comunidadHome-colabora-up
		background-image url(../img/comunidad/colabora-up.png)

	.comunidadHome-colabora-dawn
		background-image url(../img/comunidad/colabora-dawn.png)
	
	//End Comunidad 
	
	// Comunidad Apuntate
	.comunidadApuntate
		padding-top 2em	

	.comunidadApuntate-pushContainer
		max-width 60%
		
	.comunidadApuntate-text
		max-width 70%
		
	.comunidadApuntate-form
		max-width 70%
		
	
	// End Comunidad Apuntate
		
	// Crosseling
		
	.crosselingArrow
		border-bottom 8px solid transparent
		border-left 13px solid black
		border-top 8px solid transparent
		display inherit
		height 0
		width 0
		position absolute
		right 20px
		top 122px
	
	.crosselingPush
		background grey-dark
		color white
		font-size .8em
		padding 1em
		position absolute
		right 20px
		top 130px
		z-index 1	
		span
			font-size 2em
			font-weight bold

	// End Crosseling
		
	// Comunidad Home
		
	.comunidadHome
		background-image url(../img/comunidad/fondo-home.png)
		padding-bottom 1em
	
	.comunidadHome-text
		background rgba(255, 255, 255, 0.56)
		max-width 50%
		margin-left 8%
		hgroup
			text-align left
		
	//End Comunidad Home

	// Tratamiento de datos Personales
	
	.datosPersonales-comunicaciones, .datosPersonales-lopd
		label, input, p
			margin-top .5em
			margin-bottom .5em
	
	// End Tratamiento de datos Personales

	// Menu desktop
	.NavMobile, .menu-responsive
		display none
		
	.menuDesktop
		background white
		position fixed
		width 100%
		z-index 10
		box-shadow 0 2px 10px #888888
		
	.logo
		display inline-block
		margin 1em
		
	.menuLogo-icon
		max-width 25px
		margin-right .4em
		transition .3s
		&:hover
			margin-bottom .5em
			margin-top -.5em
		
	.menuLogo-text
		max-width 150px

	.menu
		background white
		border none
		left 0
		overflow hidden
		position static
		width 100%
		ul
			border none
			float right
			li
				border none
				display inline-block
				line-height 55px
				margin-left -.4em
				font-size .7em
				a
					border-left 1px solid grey-light
					background white
						
	// End Menu desktop
		
	// Footer
		


	// End Footer